body {
  margin: 0;
  height: 100vh;
  background: #6c8fb8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fork {
  width: 200px;
  height: 220px;
  background: #0b1460;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
}

/* нүх гаргаж байгаа хэсэг */
.cut {
  position: absolute;
  top: 0;
  left: 30px;
  width: 30px;
  height: 120px;
  background: #6c8fb8;
  border-radius: 20px;

  /* 3 нүх clone */
  box-shadow:
    40px 0 #6c8fb8,
    80px 0 #6c8fb8,
    120px 0 #6c8fb8;
}

/* иш */
.fork::after {
  content: "";
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 120px;
  background: #0b1460;
  border-radius: 20px;
}
